# ==============================
# GIT - TFG FORMULA 1
# ==============================

# 1. Backend (Python / FastAPI / FastF1)
backend/venv/
__pycache__/
*.pyc
*.pyo
.env
fastf1_cache/

# 2. Frontend (Node / Vite / React)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# 3. Entorno de Desarrollo (VS Code / Visual Studio)
.vscode/
.vs/
*.code-workspace

# 4. Archivos del Sistema Operativo (Windows)
Thumbs.db
Desktop.ini